body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    background-image: url('32280224-doodle-food-icons-seamless-background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
}

#totalCalories {
    margin-top: 20px;
    font-weight: bold;
}
